.root {
  padding: 0 2rem;
}

.title {
  display: block;
  padding: 0;
  border: 0;
  margin: 1rem 0;
  font-size: 2.5rem;
  outline: none;
}

.controls {
  display: flex;
  align-items: center;
}

.button {
  padding: 0.25rem 0.35rem;
  border: solid 1px #000;
  background-color: #fff;
  outline: none;
  transition: all 0.2s ease;

  &:hover {
    background-color: #ddd;
  }
}

.message {
  margin: 0 1rem;
  font-size: 0.8rem;
}

.content {
  margin: 1rem 0;
}

.tools {
  position: fixed;
  z-index: 1;
  display: inline-block;
  padding: 0.5rem 0;
  border: solid 1px #999;
  background-color: #fff;
  border-radius: 3px;
}

.tool {
  display: inline-block;
  padding: 0.25rem 0.35rem;
  margin: 0 0.25rem;
  cursor: pointer;
  font-weight: bold;
}

.block {
  position: relative;
}

.elements {
  margin: 1.5rem 0;
}

.element {
  outline: none;
  white-space: pre-wrap;

  &::before {
    position: absolute;
    top: 50%;
    left: -12px;
    width: 6px;
    height: 6px;
    background-color: transparent;
    border-radius: 50%;
    content: '';
    transform: translateY(-50%);
  }
}

.focus {
  position: relative;
}

.dirty {
  position: relative;

  &::before {
    background-color: #f00;
  }
}

.heading {
  margin: 1.5rem 0;
}

.paragraph {
  margin: 0.75rem 0;
}
