.btn-group {
  .btn {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.btn {
  padding: 0.25rem 0.35rem;
  border: solid 1px #000;
  background-color: #fff;
  border-radius: 3px;

  &:disabled {
    border-color: #999;
    color: #999;
  }

  &:hover {
    background-color: #eee;
  }
}
