.button-group {
  .button {
    display: inline-block;
    width: auto;
    
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.button {
  @include depth-shadow;
  width: 100%;
  padding: 0.5rem;
  background-color: $color-gray;
  border-radius: 3px;
  color: $color-light-gray;

  &.w-auto {
    width: auto;
  }

  &:hover {
    background-color: darken($color-gray, 5%);
  }

  &.success {
    background-color: $color-green;

    &:hover {
      background-color: darken($color-green, 5%);
    }
  }

  &.warning {
    background-color: $color-orange;

    &:hover {
      background-color: darken($color-orange, 5%);
    }
  }

  &.danger {
    background-color: $color-red;

    &:hover {
      background-color: darken($color-red, 5%);
    }
  }

  &:disabled {
    background-color: $color-gray;
    pointer-events: none;
  }
}
