.button-group {
  .button {
    display: inline-block;
    width: auto;
    
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.button {
  @include depth-shadow;
  width: 100%;
  padding: 0.5rem;
  background-color: $green;
  border-radius: 3px;
  color: $light-gray;
}
