.page-header {
  margin-bottom: 2rem;
}

.pipe {
  padding: 0 6px;
}

.w-md-editor {
  box-shadow: none;
}

.editor-toolbar {
  border: 0;
  border-top: solid 1px var(--color-gray);
  border-bottom: solid 1px var(--color-gray);
  border-radius: 0;
}

.EasyMDEContainer {
  .CodeMirror {
    padding: 2rem 1rem;
    border: 0;
    background-color: var(--color-background);
  }
  
  .CodeMirror-cursor {
    border-color: var(--color-text);
  }
}
