.page-header {
  margin-bottom: 2rem;
}

.pipe {
  padding: 0 6px;
}

.w-md-editor {
  box-shadow: none;
}

.editor-toolbar,
 
.editor-toolbar.fullscreen {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
  border: 0;
  border-top: solid 1px var(--color-gray);
  border-bottom: solid 1px var(--color-gray);
  background-color: var(--color-background);
  border-radius: 0;

  &::before,
  &::after {
    display: none;
  }

  button {
    margin: 0 0.5rem;
    background: var(--color-background);

    &:hover,
    &.active {
      background: var(--color-background);
    }
  }
}

.EasyMDEContainer {
  .CodeMirror {
    padding: 2rem 1rem;
    border: 0;
    background-color: var(--color-background);
  }

  .CodeMirror-selectedtext {
    background-color: var(--color-text-light);
  }
  
  .CodeMirror-cursor {
    border-color: var(--color-text);
  }
}
