.dropdown-trigger {
  position: relative;
}

.dropdown {
  @include depth-shadow(2);
  position: absolute;
  left: 50%;
  display: none;
  min-width: 200px;
  padding: 0.25rem 1rem;
  margin-top: 0.5rem;
  background-color: var(--color-background-dark);
  border-radius: 3px;
  transform: translateX(-50%);

  &.is-active {
    display: block;
  }

  &::before {
    position: absolute;
    top: -8px;
    left: 50%;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-background-dark);
    border-left: 8px solid transparent;
    content: '';
    transform: translateX(-50%);
  }
}

.dropdown-item {
  display: block;
  margin: 1rem 0;
  white-space: nowrap;

  * {
    width: 100%;
  }
}

.dropdown-divider {
  margin: 1rem 0;
}
