.form {
  @include depth-shadow(2);
  min-width: 400px;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--color-background-dark);
  border-radius: 6px;
}

.fields {
  padding: 0.5rem 0 1.5rem; 
}

.field {
  min-height: 51px;
  margin-bottom: 0.5rem;

  &.has-error {
    input {
      border-color: var(--color-red);
    }
  }

  &.is-loading {
    position: relative;

    &::after {
      @include spin;
      position: absolute;
      top: 8px;
      right: 0;
      width: 12px;
      height: 12px;
      border: 2px solid var(--color-background);
      border-top: 2px solid var(--color-text);
      border-radius: 50%;
      content: '';
    }
  }
}

.field-error {
  color: var(--color-red);
  font-size: 0.75rem;
}

.field-group {
  padding: 1rem 0;
}

.field-group-label {
  display: block;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-bottom: solid 1px var(--color-text-dark);
  background-color: transparent;
  transition: all 0.2s ease;
  
  &:focus {
    border-color: var(--color-green);
  }
}
