.form {
  @include depth-shadow(2);
  min-width: 400px;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--color-background-gray);
  border-radius: 3px;
}

.fields {
  padding: 0.5rem 0 1.5rem; 
}

.field {
  min-height: 51px;
  margin-bottom: 0.5rem;
}

.field-error {
  color: var(--color-red);
  font-size: 0.75rem;
}

.field-group {
  padding: 1rem 0;
}

.field-group-label {
  display: block;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-bottom: solid 1px var(--color-text-dark-gray);
  background-color: transparent;
  transition: all 0.2s ease;
  
  &:focus {
    border-color: var(--color-green);
  }
}
