.form {
  @include depth-shadow(2);
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  background-color: $gray;
  border-radius: 3px;
}

.field {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-bottom: solid 1px $light-gray;
  background-color: transparent;
  color: $light-gray;

  &.center {
    margin: 0 auto;
  }
}
