.field {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-bottom: solid 1px $color-gray;
  background-color: transparent;
  color: $color-black;

  &.center {
    margin: 0 auto;
  }
}
