.toast-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
}

.toast {
  @include depth-shadow(1);
  position: absolute;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  transition: all 0.3s ease;

  &.success {
    background-color: var(--color-green);
  }

  &.danger {
    background-color: var(--color-orange);
  }

  &.error {
    background-color: var(--color-red);
  }
}

.toast-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast-message {
  color: var(--color-light-gray);
}

.toast-close {
  position: relative;
  display: inline;
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  background-color: var(--color-dark-red);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-extra-dark-red);
  }

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 50%;
    background-color: var(--color-light-gray);
    content: '';
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all 0.2s ease;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.toast-transition-enter {
  right: calc(-100% + 0.5rem);
  opacity: 0;
}

.toast-transition-enter-active {
  right: 0.5rem;
  opacity: 1;
  transition: all 0.3s ease;
}

.toast-transition-exit {
  right: 0.5rem;
  opacity: 1;
}

.toast-transition-exit-active {
  right: calc(-100% + 0.5rem);
  opacity: 0;
  transition: all 0.3s ease;
}
