.root {
  padding: 1rem 0;
  margin: 0 1rem;
}

.title {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 1rem 0;
  font-size: 2.5rem;
  outline: none;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  font-size: 0.8rem;
}

.divider {
  padding: 0 6px;
}

.editor {
  margin: 1rem 0;
}

.info {
  margin: 0 1rem;
  
  span {
    font-size: 0.875rem;
  }
}
