.root {
  padding: 1rem 0;
  margin: 0 1rem;
}

.title {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 1rem 0;
  font-size: 2.5rem;
  outline: none;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.headerInner {
  display: flex;
  align-content: center;
}

.button {
  padding: 0.25rem 0.35rem;
  border: solid 1px #000;
  background-color: #fff;
  outline: none;
  transition: all 0.2s ease;

  &:disabled {
    border-color: #ddd;
  }

  &:hover {
    background-color: #ddd;
  }

  &:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.message {
  font-size: 0.8rem;
}

.divider {
  padding: 0 6px;
}

.editor {
  margin: 1rem 0;
}

.info {
  margin: 0 1rem;
  
  span {
    font-size: 0.875rem;
  }
}
