.story {
  &__title {
    margin: 2rem 0;

    input {
      background-color: var(--color-background);
    }
  }

  &__toolbar {
    margin-bottom: 0.5rem;
  }
  
  &__info {
    margin-left: 1rem;
    font-size: 0.875rem;
  }
}
