@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/behaviors';
@import 'utils/text';
@import 'utils/size';
@import 'layout/grid';
@import 'components/form';
@import 'components/link';
@import 'components/button';
@import 'components/input';
@import 'components/heading';
@import 'components/extras';
@import 'components/nav';
@import 'components/container';
@import 'components/items';
@import 'components/toast';
@import 'components/icon';
@import 'components/dropdown';
@import 'modules/story';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  display: block;
  max-width: 1260px;
  padding: 2rem;
  margin: 0 auto;
}

header {
  @include depth-shadow;
  padding: 0 8rem;
}

section {
  padding: 2rem 0;
}

article {
  p {
    margin: 0.75rem 0;
  }

  h1 {
    @include heading-1;
  }

  h2 {
    @include heading-2;
  }

  h3 {
    @include heading-3;
  }

  blockquote {
    padding: 0.25rem 0 0.25rem 1rem;
    border-left: solid 4px $color-dark-gray;
    margin: 1rem 0;
    color: $color-dark-gray;
    font-style: italic;
  }

  hr {
    border-top: solid 1px $color-gray;
    margin: 1rem 0 1.5rem;
  }
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
}

input {
  display: block;
}

input,
button {
  border: 0;
  outline: none;
}
