@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/behaviors';
@import 'utils/text';
@import 'layout/grid';
@import 'components/form';
@import 'components/link';
@import 'components/button';
@import 'components/input';
@import 'components/heading';
@import 'components/extras';
@import 'components/nav';
@import 'components/container';
@import 'components/items';
@import 'components/toast';
@import 'modules/story';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  display: block;
  max-width: 1260px;
  padding: 2rem 0;
  margin: 0 auto;
}

a,
button {
  cursor: pointer;
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
}

input {
  display: block;
}

input,
button {
  border: 0;
  outline: none;
}
